.titulos
{
    color:pink; font-size: 3rem;
}

#myTable tr td:nth-child(1), #myTable th:nth-child(1) {
    display: none;
}

table
{
    
    width: 100%;
    border-collapse: collapse;

}

th
{
    background-color:palevioletred;
    color: white;
    padding: 8px;
    text-align: left;
}
td
{
    padding: 8px;
}
.td1
{
    
    background-color: pink;

}
.td2
{
   
    background-color: plum;
}
#cargar
{
    background-color: lightskyblue;
    margin-left: 25%;
    margin-right: 25%;
    position: fixed;
    box-sizing: content-box;
    width: 600px;
    height: 420px;
    margin-top: 10px;
    padding: 10px;
    
    
}
.chau
{
    font-size: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: pink;
    border: none;
    width: auto;
    color: white;
    
    

}
label
{
    font-size:15px;
    
}
input[type=text]
{
    width: 75%;
    height: 20px;
    padding: 3px;
}
.hola
{
    margin-left: 50px;
    font-size: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: greenyellow;
    border: none;
    width: auto;
    color: white;

}
.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    width: 70rem;
    height: 70rem;
    padding: 10%;
    animation: spin 2s linear infinite;
    position: fixed;
    box-sizing: border-box;
    
  }

  .loader2 {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    box-sizing: border-box;
    width: 70rem;
    height: 70rem;
    margin-left: 57%;
    padding: 10%;
    animation: spin 2s linear infinite;
    position: fixed;
    
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
